<%- include('head'); %> <%- include('navbar'); %>

<!-- Start All Title Box -->
<div class="all-title-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Sign Up</h2>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Change password</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End All Title Box -->

<!-- Start Contact Us  -->
<div class="contact-box-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <div class="contact-form-right">
          <h2>Change your password</h2>
          <form
            action="https://webshop-exo.herokuapp.com/api/user/<%= userInfo._id %>?_method=PUT"
            method="POST"
          >
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="oldPassword">Old password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="oldPassword"
                    name="oldPassword"
                    required
                    data-error="Please enter your old password"
                  />
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="password">New password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    required
                    data-error="Please enter your new password"
                  />
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="confirmPassword">Confirm password</label>
                  <input
                    type="password"
                    id="confirmPassword"
                    class="form-control"
                    name="confirmPassword"
                    required
                    data-error="Please enter your new password"
                  />
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="submit-button text-center">
                  <button class="btn hvr-hover" id="submit" type="submit">
                    Submit
                  </button>
                  <div id="msgSubmit" class="h3 text-center hidden"></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Cart -->

<%- include('footer'); %>
